<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628230207714-okgc65odclvmb49e8a73f19cs1g9ajjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628230207714-okgc65odclvmb49e8a73f19cs1g9ajjf</string>
	<key>API_KEY</key>
	<string>AIzaSyD4mvaImwCYXAqIFMSG-MOdTs2VM-knPHI</string>
	<key>GCM_SENDER_ID</key>
	<string>628230207714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>netLee.Jwitter</string>
	<key>PROJECT_ID</key>
	<string>jwitterclone-bc147</string>
	<key>STORAGE_BUCKET</key>
	<string>jwitterclone-bc147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628230207714:ios:b30039e7d1dc397bccc6bb</string>
</dict>
</plist>